@model IList<BOD_DAL.Models.EmployeeMaster>
@{
    ViewBag.Title = "ProjectWiseEmployee";
    Layout = "~/Views/Shared/_LayoutNewForCheckDatatable.cshtml";
}



<div class="page-content">
    <!-- Page title -->
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <!-- Page title + Go Back button -->
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Employee</h5>
                </div>
                <!-- Additional info -->
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
            </div>
        </div>
    </div>
    <div class="row">
       

            @{
                Html.RenderPartial("_ProjectDetails", new ViewDataDictionary { { "id", @ViewBag.Id } });
            }
</div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-md-6">
            <div class="card card-fluid">
                <div class="card-header">
                    <h6 class="mb-0">Assign Employee</h6>
                </div>
                <div class="card-body">

                    <div class="content-detached">
                        <div class="content-body">
                            <div class="content-overlay"></div>

                            <div class="row">

                                <div class="card-body">
                                    <!-- Task List table -->
                                    <div class="table-responsive">
                                        <table id="users-contacts" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle text-center">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" id="checkboxsmallall">
                                                            <label class="custom-control-label" for="checkboxsmallall"></label>
                                                        </div>
                                                    </th>
                                                    <th>Name</th>
                                                    <th>ID</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>

                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{int i = 1;
                                                foreach (var a in Model)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input type="hidden" value="@a.EM_EmpId" id="emp_@i" />
                                                            <input type="hidden" value="@a.CreatedbyProject" id="hdnCreatedbyProject_@i" />
                                                            <input type="hidden" value="@a.EM_IsSuper" id="hdnIsSuper_@i" />

                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" @a.AssociateProject id="checkboxsmall_@i">
                                                                <label class=" custom-control-label" for="checkboxsmall_@i"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="media">
                                                                <div class="media-left pr-1"><span class="avatar avatar-sm avatar-online rounded-circle"><img src="@a.EM_ProfilePic" alt="avatar"><i></i></span></div>
                                                                <div class="media-body media-middle">
                                                                    <a class="media-heading name">@a.EM_EmpName</a>
                                                                </div>
                                                            </div>
                                                          
                                                        </td>
                                                        <td class="text-center">@a.EM_EmpCode</td>
                                                        <td class="text-center">
                                                            <a class="email" href="mailto:email@example.com">@a.EM_Email</a>
                                                        </td>
                                                        <td class="phone">@a.EM_EmpContactNo</td>

                                                        <td>
                                                            <a data-toggle="modal" data-target="#EditContactModal" class="primary edit mr-1"><i class="la la-pencil"></i></a>

                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                                }

                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">

                                    @*<div class="text-right">
                                        <br />
                                        <button type="button" class="btn btn-success btnSave" id="btnSubmit" onclick="SaveRecord(@ViewBag.Id)">Submit <i class="la la-thumbs-o-up position-right"></i></button>
                                        <button type="reset" class="btn btn-danger">Cancel <i class="la la-refresh position-right"></i></button>
                                    </div>*@
                                    <div class="text-right">
                                        <a href="/Project/ProjectList" class="btn btn-link text-sm text-muted font-weight-bold">Cancel</a>
                                        <button type="button" class="btn btn-sm btn-primary rounded-pill" id="btnSubmit" onclick="SaveRecord(@ViewBag.Id)">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>

    </div>
</div>





<script src="~/Scripts/utility/project_details_global.js"></script>

<script src="~/Scripts/custom/project_emp.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

