@model BOD_DAL.Models.ProjectSummaryDashBoard
@{
    ViewBag.Title = "ProjectSummary";
    //Layout = "~/Views/Shared/_ProjectSummary.cshtml";
    Layout = "~/Views/Shared/_LayoutNewTemp.cshtml";
}
@{
    int? totalJobs = Model.NoOftask;
    int? completedJobs = Model.CompletedTask;

    int? OpenJobs = Model.OnGoingTask;

    int? compledPercentage = 0;
    int? openPercentage = 0;
    if (totalJobs > 0)
    {
        compledPercentage = ((Convert.ToInt32(completedJobs) / Convert.ToInt32(totalJobs)) * 100);
    }
    else
    {
        compledPercentage = 0;

    }
    if (totalJobs > 0)
    {
        openPercentage = ((Convert.ToInt32(OpenJobs) / Convert.ToInt32(totalJobs)) * 100);
    }

    else
    {
        openPercentage = 0;

    }

    }

<div class="page-title">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
            <!-- Page title + Go Back button -->
            <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white" >Project Summary</h5>
            </div>
         
        </div>
      
    </div>
</div>


<div class="row">
    <div class="col-xl-3 col-sm-6">
        <!-- Stats card -->
        <div class="card card-stats border-0">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="text-muted mb-1">No Of SMME</h6>
                        <span class="h3 font-weight-bold mb-0 ">@Model.NoOfSMME</span>
                    </div>

                </div>
            </div>
        </div>
        <!-- Project performance -->
        <div class="card card-stats border-0">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="text-muted mb-1">Total Income</h6>
                        <span class="h3 font-weight-bold mb-0 ">$ @(Model.ProjectEntry.TotalIncome ?? 0)</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <!-- Stats card -->
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="text-muted mb-1">No Of SMME Employee</h6>
                        <span class="h3 font-weight-bold mb-0">@Model.ProjectEntry.prjectWiseEmp.Count</span>
                    </div>

                </div>
            </div>
        </div>
        <!-- Project performance -->
        <div class="card card-stats">
            <!-- Card body -->
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h6 class="text-muted mb-1">Total Expense</h6>
                        <span class="h3 font-weight-bold mb-0">$ @(Model.ProjectEntry.TotalExpenses ?? 0)</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <!-- Project overview -->
        <div class="card card-fluid">
            <div class="card-header">
                <img alt="Image placeholder" src="@Model.ProjectEntry.PE_Image" class="avatar rounded-circle">
                <h6 class="mb-0">Project Name:   <span class="text-muted">@(Model.ProjectEntry !=null ? Model.ProjectEntry.PE_ProjectName:"") </span></h6>
            </div>
            <div class="card-body py-3 flex-grow-1">
                <!-- Description -->
                <h6 class="mb-0">Project Description:<span class="text-muted"></span></h6>
                <div class="heading-elements">
                    @(Model.ProjectEntry !=null? Model.ProjectEntry.PE_Description : "")
                </div>
                <p class="text-sm mb-0" id="projectDetails">

                </p>
            </div>
            <div class="card-footer py-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item px-0">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="form-control-label">Project Owner:</span>
                            </div>
                            <div class="col-6 text-right">
                                <span class="text-muted" id="client"></span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item px-0">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <span class="form-control-label">Published:</span>
                            </div>
                            <div class="col-6 text-right">
                                <span class="badge badge-danger badge-pill">No</span>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item px-0">
                        <div class="row align-items-center">
                            <div class="col-6">
                                <small>Start date:</small>
                                <div class="h6 mb-0" id="startdate"></div>
                            </div>
                            <div class="col-6">
                                <small>End date:</small>
                                <div class="h6 mb-0" id="enddate"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h6 class="mb-0">Employees</h6>
                    </div>
                    <div class="col-auto">
                        <div class="actions">
                            <a href="#!" class="action-item">
                                <i class="far fa-file-export"></i>
                                <span class="d-none d-sm-inline-block mr-4">Export</span>
                            </a>
                            <a href="#!" class="action-item">
                                <i class="far fa-print"></i>
                                <span class="d-none d-sm-inline-block">Print</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center">
                    <thead>
                        <tr>
                            <th scope="col" class="sort" data-sort="name">Name</th>
                            <th scope="col" class="sort" data-sort="groups">Email</th>
                            <th scope="col" class="sort" data-sort="tasks">Company ID</th>
                            <th scope="col" class="sort" data-sort="billing">Manager Name</th>
                            <th scope="col">Sex</th>
                            <th scope="col" class="sort" data-sort="issues">DOB</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @foreach (var employee in Model.ProjectEntry.ProjectEmpMaster)
                        {
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body ml-3">
                                            <a href="overview.html" class="name mb-0 h6 text-sm">@employee.EM_EmpName</a>
                                        </div>
                                    </div>
                                </th>
                                <td>
                                    <a href="#" class="badge badge-secondary">@employee.EM_Email</a>
                                </td>
                                <td class="budget">
                                    <span>@employee.CompanyID</span>
                                </td>
                                <td>
                                    @employee.ManagerName
                                </td>
                                <td>
                                    @employee.EM_Sex
                                </td>
                                <td>
                                   @employee.EM_DOB
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="mb-0">Tasks</h6>
                    </div>
                    <div class="text-right">
                        <div class="actions">
                            <a href="#" class="action-item"><i class="far fa-sync"></i></a>
                            <div class="dropdown action-item" data-toggle="dropdown">
                                <a href="#" class="action-item"><i class="far fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item">Refresh</a>
                                    <a href="#" class="dropdown-item">Manage Widgets</a>
                                    <a href="#" class="dropdown-item">Settings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-wrapper p-3">
                <!-- Files -->
                @foreach (var task in Model.ProjectEntry.projectWiseTasks)
                {
                    <div class="card mb-3 border shadow-none">
                        <div class="px-3 py-3">
                            <div class="row align-items-center">
                                <div class="col ml-n2">
                                    <h6 class="text-sm mb-0">
                                        <a href="#!">@task.PWT_TaskTitle</a>
                                    </h6>
                                    <p class="card-text small text-muted">
                                        @task.PE_StartDate
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card card-fluid">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <h6 class="mb-0">Latest comments</h6>
                    </div>
                    <div class="text-right">
                        <div class="actions">
                            <a href="#" class="action-item"><i class="far fa-sync"></i></a>
                            <div class="dropdown action-item" data-toggle="dropdown">
                                <a href="#" class="action-item"><i class="far fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item">Refresh</a>
                                    <a href="#" class="dropdown-item">Manage Widgets</a>
                                    <a href="#" class="dropdown-item">Settings</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago" data-original-title="" title="">
                        <div>
                            <span class="avatar bg-primary text-white rounded-circle">AM</span>
                        </div>
                        <div class="flex-fill ml-3">
                            <div class="h6 text-sm mb-0">Alex Michael <small class="float-right text-muted">2 hrs ago</small></div>
                            <p class="text-sm lh-140 mb-0">
                                Some quick example text to build on the card title.
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="3 hrs ago" data-original-title="" title="">
                        <div>
                            <span class="avatar bg-warning text-white rounded-circle">SW</span>
                        </div>
                        <div class="flex-fill ml-3">
                            <div class="h6 text-sm mb-0">Sandra Wayne <small class="float-right text-muted">3 hrs ago</small></div>
                            <p class="text-sm lh-140 mb-0">
                                Some quick example text to build on the card title.
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="5 hrs ago" data-original-title="" title="">
                        <div>
                            <span class="avatar bg-info text-white rounded-circle">JM</span>
                        </div>
                        <div class="flex-fill ml-3">
                            <div class="h6 text-sm mb-0">Jason Miller <small class="float-right text-muted">5 hrs ago</small></div>
                            <p class="text-sm lh-140 mb-0">
                                Some quick example text to build on the card title.
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="2 hrs ago" data-original-title="" title="">
                        <div>
                            <span class="avatar bg-dark text-white rounded-circle">MJ</span>
                        </div>
                        <div class="flex-fill ml-3">
                            <div class="h6 text-sm mb-0">Mike Thomson <small class="float-right text-muted">2 hrs ago</small></div>
                            <p class="text-sm lh-140 mb-0">
                                Some quick example text to build on the card title.
                            </p>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex align-items-center" data-toggle="tooltip" data-placement="right" data-title="3 hrs ago" data-original-title="" title="">
                        <div>
                            <span class="avatar bg-primary text-white rounded-circle">RN</span>
                        </div>
                        <div class="flex-fill ml-3">
                            <div class="h6 text-sm mb-0">Richard Nixon <small class="float-right text-muted">3 hrs ago</small></div>
                            <p class="text-sm lh-140 mb-0">
                                Some quick example text to build on the card title.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="card-footer py-2 text-center">
                <a href="#" class="text-sm text-muted font-weight-bold">See all notifications</a>
            </div>
        </div>
    </div>
</div>

@*<script src="~/Content/app-assets/vendors/js/charts/apexcharts/apexcharts.min.js"></script>*@
<script src="~/Content/app-assets/js/scripts/pages/project-summary.js"></script>
@*<script src="~/Content/app-assets/js/scripts/pages/project-summary-bug.js"></script>*@
<script src="~/Scripts/utility/project_details_global.js"></script>
<script src="~/Scripts/utility/project_details_report.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



