@model BOD_DAL.Models.ProjectPhase
@{
    ViewBag.Title = "ProjectPlanningList";
    Layout = "~/Views/Shared/_LayoutNewTemp.cshtml";
}

<div class="modal fade" id="modal-users" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header align-items-center">
                <div class="modal-title">
                    <h6 class="mb-0">Assign SMME To Activity</h6>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Connections -->
                <div class="row">
                    <div class="col-6 col-md-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="avatar-parent-child">
                                    <a href="#" class="avatar avatar-lg rounded-circle">
                                        <img alt="Image placeholder" src="~/assets/img/theme/light/team-1-800x800.jpg">
                                    </a>
                                    <span class="avatar-child avatar-badge bg-success"></span>
                                </div>
                                <h6 class="text-sm my-3">John Sullivan</h6>
                                <button type="button" class="btn btn-xs btn-secondary">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="avatar-parent-child">
                                    <a href="#" class="avatar avatar-lg rounded-circle">
                                        <img alt="Image placeholder" src="~/assets/img/theme/light/team-2-800x800.jpg">
                                    </a>
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                                <h6 class="text-sm my-3">Heather Wright</h6>
                                <button type="button" class="btn btn-xs btn-secondary">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="avatar-parent-child">
                                    <a href="#" class="avatar avatar-lg rounded-circle">
                                        <img alt="Image placeholder" src="~/assets/img/theme/light/team-3-800x800.jpg">
                                    </a>
                                    <span class="avatar-child avatar-badge bg-danger"></span>
                                </div>
                                <h6 class="text-sm my-3">James Lewis</h6>
                                <button type="button" class="btn btn-xs btn-secondary">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="avatar-parent-child">
                                    <a href="#" class="avatar avatar-lg rounded-circle">
                                        <img alt="Image placeholder" src="~/assets/img/theme/light/team-4-800x800.jpg">
                                    </a>
                                    <span class="avatar-child avatar-badge bg-success"></span>
                                </div>
                                <h6 class="text-sm my-3">Martin Gray</h6>
                                <button type="button" class="btn btn-xs btn-secondary">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="avatar-parent-child">
                                    <a href="#" class="avatar avatar-lg rounded-circle">
                                        <img alt="Image placeholder" src="~/assets/img/theme/light/team-5-800x800.jpg">
                                    </a>
                                    <span class="avatar-child avatar-badge bg-success"></span>
                                </div>
                                <h6 class="text-sm my-3">John Snow</h6>
                                <button type="button" class="btn btn-xs btn-secondary">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="avatar-parent-child">
                                    <a href="#" class="avatar avatar-lg rounded-circle">
                                        <img alt="Image placeholder" src="~/assets/img/theme/light/team-6-800x800.jpg">
                                    </a>
                                    <span class="avatar-child avatar-badge bg-success"></span>
                                </div>
                                <h6 class="text-sm my-3">John Michael</h6>
                                <button type="button" class="btn btn-xs btn-secondary">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="avatar-parent-child">
                                    <a href="#" class="avatar avatar-lg rounded-circle">
                                        <img alt="Image placeholder" src="~/assets/img/theme/light/team-7-800x800.jpg">
                                    </a>
                                    <span class="avatar-child avatar-badge bg-warning"></span>
                                </div>
                                <h6 class="text-sm my-3">Monroe Parker</h6>
                                <button type="button" class="btn btn-xs btn-secondary">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-3">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="avatar-parent-child">
                                    <a href="#" class="avatar avatar-lg rounded-circle">
                                        <img alt="Image placeholder" src="~/assets/img/theme/light/team-8-800x800.jpg">
                                    </a>
                                    <span class="avatar-child avatar-badge bg-danger"></span>
                                </div>
                                <h6 class="text-sm my-3">Danielle Levin</h6>
                                <button type="button" class="btn btn-xs btn-secondary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-task-create" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Project name -->
                <div class="form-group">
                    <label class="form-control-label">
                        Phase Heading
                    </label>
                    <span style="color: red">*</span>
                    <input type="text" class="form-control" name="txtPhaseHeading" id="txtPhaseHeading" autocomplete="off" placeholder="Enter Phase Heading">
                </div>
                <!-- Project description -->
                <div class="form-group">
                    <label class="form-control-label mb-0">
                        Phase Description
                    </label>
                    <small class="form-text text-muted mb-2 mt-0">
                        This textarea will autosize while you type
                    </small>
                    <textarea class="form-control" data-toggle="autosize" name="txtPhaseDescription" id="txtPhaseDescription" rows="1" placeholder="Enter Phase Description"></textarea>
                </div>
                <!-- Project members -->
                <!-- Due date -->
                @*<div class="form-group">
                        <label class="form-control-label">
                            Start date
                        </label>
                        <input type="text" class="form-control datepicker" name="txtStartDate" id="txtStartDate" placeholder="mm/dd/yyyy">
                    </div>*@

                <div class="form-group">
                    <label class="form-control-label">
                        Start date
                    </label>
                    <span style="color: red">*</span>
                    <input type="text" class="form-control datepicker" id="txtStartDate" name="txtStartDate" placeholder="mm/dd/yyyy" autocomplete="off">
                </div>

                <div class="form-group">
                    <label class="form-control-label">
                        End date
                    </label>
                    <span style="color: red">*</span>
                    <input type="text" class="form-control datepicker" name="txtEndDate" id="txtEndDate" placeholder="mm/dd/yyyy" autocomplete="off">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary rounded-pill mr-auto" id="btnSubmit" onclick="SaveRecords()">Save</button>

            </div>
        </div>
    </div>
</div>

<div class="modal fade fixed-right" id="modal-task-view" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-vertical modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header row">
                <div class="col d-flex align-items-center">


                    <h6 class="mb-0" id="hPhaseNm"></h6>
                </div>
                <div class="col-auto">
                    <div class="actions text-right">
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Task date -->
                <div class="row">
                    <div class="col-12 col-md-6">
                        <!-- Start date -->
                        <div class="form-group mb-0">
                            <label class="form-control-label">
                                Start date
                            </label>
                            <input type="text" class="form-control" id="txtStartDateView" readonly>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <!-- Start date -->
                        <div class="form-group mb-0">
                            <label class="form-control-label">
                                End date
                            </label>
                            <input type="text" class="form-control" id="txtEndDateView" readonly>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row mb-4 align-items-center">
                    <div class="col-6">
                        <label class="form-control-label mb-0">
                            Activity List
                        </label>
                    </div>
                    <div class="col-6 text-right">
                        <a href="/Project/ProjectWiseTask?Id=@ViewBag.Projectid" class="btn btn-xs btn-secondary btn-icon rounded-pill">
                            <span class="btn-inner--icon"><i class="fa fa-plus"></i></span>
                            <span class="btn-inner--text">Add Activity</span>
                        </a>
                    </div>
                </div>
                <!-- Dragable checklist -->
                <div class="checklist" data-toggle="dragula" id="chkTask">





                </div>
                <input type="hidden" id="hdnPhaseId" />

            </div>
            <div class="modal-footer align-items-center">

                <div class="col-12 col-md-12 text-right">
                    <button type="button" class="btn btn-sm btn-primary rounded-pill mr-auto" id="btnSubmit" onclick="SaveTaskPhase()">Add Task To Phase</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="page-title">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
            <!-- Page title + Go Back button -->
            <div class="d-inline-block">
                <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Project Planning</h5>
            </div>
            <!-- Additional info -->
            <div class="align-items-center ml-4 d-inline-flex">
                <span class="h4 text-info mb-0 mr-2">9</span>
                <span class="text-sm opacity-7 text-white">Project Phases</span>
            </div>
            <!-- Optional link -->
            <a href="kanban-board.html" class="text-sm text-info d-none d-lg-inline-block ml-4">See Gannt Chart</a>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
            <div class="actions actions-dark d-inline-block">
                <a href="#" class="action-item ml-3" data-toggle="tooltip" data-original-title="View Phase Timeline">
                    <i class="fa fa-cog mr-2"></i>View Calender
                </a>
            </div>

            <a href="#modal-task-create" class="btn btn-sm btn-white btn-icon-only rounded-pill ml-4" data-toggle="modal">
                <span class="btn-inner--icon"><i class="fa fa-plus"> </i></span>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <!-- Product title -->
                @{Html.RenderPartial("_ParProjectPhaseDetails", new ViewDataDictionary { { "id", @ViewBag.Projectid } });}


            </div>
        </div>
    </div>

</div>


<div class="card" data-toggle="dragula" data-containers='["card-list-1", "card-list-2", "card-list-3"]'>
    <!-- Card header -->
    <div class="card-header actions-toolbar">
        <div class="actions-search" id="actions-search">
            <div class="input-group input-group-merge input-group-flush">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-transparent"><i class="fa fa-search"></i></span>
                </div>
                <input type="text" class="form-control form-control-flush" placeholder="Type and hit enter ...">
                <div class="input-group-append">
                    <a href="#" class="input-group-text bg-transparent" data-action="search-close" data-target="#actions-search"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
        <div class="row justify-content-between align-items-center">
            <div class="col">
                <h6 class="d-inline-block mb-0">Project Phases</h6>
            </div>
            <div class="col text-right">
                <div class="actions">
                    <a href="#" class="action-item mr-3" data-action="search-open" data-target="#actions-search"><i class="fa fa-search"></i></a>
                    <div class="dropdown mr-3">
                        <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-filter"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-sort-amount-down"></i>Newest
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-sort-alpha-down"></i>From A-Z
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fa fa-sort-alpha-up"></i>From Z-A
                            </a>
                        </div>
                    </div>
                    <div class="dropdown" data-toggle="dropdown">
                        <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="#" class="dropdown-item">Refresh</a>
                            <a href="#" class="dropdown-item">Manage Widgets</a>
                            <a href="#" class="dropdown-item">Settings</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Card body -->
    <div class="card-body">
        @{ int i = 1;
         foreach (var a in Model.projectPhase)
         {

            
 <h5 class="mb-3"><a href="#" onclick="retrivePhase(@a.PP_Id,'@a.PP_Name','@a.PP_FromDate','@a.PP_ToDate','@a.PP_Description')"><span id="hPhaseName_@a.PP_Id">@a.PP_Name</span></a><a class="h6 float-right font-size-small" href="#" onclick="retriveTask(@a.PP_Id)"><i class="fa fa-tasks" aria-hidden="true"></i><span>&nbsp;&nbsp;&nbsp;Manage Activity</span></a></h5>
            <input type="hidden" id="hdnStartDate_@a.PP_Id" value="@a.PP_FromDate" />
            <input type="hidden" id="hdnEndDate_@a.PP_Id" value="@a.PP_ToDate" />
             var PhaseTaskList = Model.projectTaskWisePase.Where(m => m.PWP_PhaseId == a.PP_Id);

             if (PhaseTaskList.Count() > 0)
             {
                 foreach (var b in PhaseTaskList)
                 {
                     var ProjectSMME = Model.projectTaskWiseSMME.Where(m => m.PTWS_TaskId == b.PWP_TaskId);
                     string Color = "";
                     if (b.PWT_Priority == "Low")
                     {
                         Color = "success";
                     }
                     else if (b.PWT_Priority == "Medium")
                     {
                         Color = "warning";
                     }

                    <div class="mb-5" id="card-list-1">
                        <div class="card card-progress border shadow-none draggable-item">
                            <div class="progress">
                                <div class="progress-bar bg-@Color" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="card-body row align-items-center">
                                <div class="col-sm-6">
                                    <a class="h6" href="#modal-task-view" data-toggle="modal">@b.PWT_TaskTitle</a>
                                    <div class="actions d-inline-block float-right float-sm-none" data-toggle="tooltip" data-original-title="Mark as favorite">
                                        <div class="action-item ml-4">
                                            <i class="fa fa-tags"></i>Tasks - <span>@b.PWT_ParentTaskCount</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto card-meta d-inline-flex align-items-center ml-sm-auto">
                                    <div>
                                        <span class="badge text-warning border border-warning badge-pill mr-3"></span>
                                    </div>
                                    <div class="actions d-inline-block">
                                        <div class="action-item mr-2">
                                            <i class="fa fa-check-circle mr-2"></i>@b.PWT_Priority
                                        </div>

                                    </div>
                                    @{if (ProjectSMME.Count() > 0)
                                    {
                                        int count = ProjectSMME.Count();
                                        int more = count - 1;
                                        string image = "";
                                        int imagecount = 1;
                                        if (imagecount == 1)
                                        {
                                            foreach (var y in ProjectSMME)
                                            {
                                                image = y.SM_Image;
                                                imagecount++;
                                            }
                                        }
                                        <div class="media media-pill align-items-center d-inline-flex bg-secondary">
                                            <span class="avatar avatar-sm rounded-circle">
                                                <img alt="Image placeholder" src="@image">
                                            </span>
                                            <div class="ml-2">
                                                <a href="/Project/ProjectWiseSMME?Id=@ViewBag.Projectid&TaskId=@b.PWP_TaskId" class="mb-0 text-sm text-muted stretched-link">+@more</a>
                                            </div>

                                        </div>
                                    }
                                    else
                                    {
                                        <div class="media media-pill align-items-center d-inline-flex bg-secondary">
                                            <span class="avatar avatar-sm rounded-circle">
                                                <img alt="Image placeholder" src="~/assets/img/nouser.png" />
                                            </span>
                                            <div class="ml-2">
                                                <a href="/Project/ProjectWiseSMME?Id=@ViewBag.Projectid&TaskId=@b.PWP_TaskId" class=" mb-0 text-sm text-muted stretched-link">No SMME</a>
                                            </div>
                                        </div>
                                    }
                                    }


                                </div>
                            </div>
                        </div>

                        <!-- Empty container -->

                    </div>
                 }

             }
             else
             {
                <span class="empty-container" data-placeholder="Empty"></span>
             }

         }
        }
    </div>
</div>


<!-- Core JS - includes jquery, bootstrap, popper, in-view and sticky-kit -->
<script src="~/assets/js/purpose.core.js"></script>
<!-- Page JS -->
<script src="~/assets/libs/dragula/dist/dragula.min.js"></script>
<script src="~/assets/libs/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
<script src="~/assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
<script src="~/assets/libs/autosize/dist/autosize.min.js"></script>
<script src="~/assets/libs/dropzone/dist/min/dropzone.min.js"></script>
<script src="~/Scripts/custom/Phase.js"></script>
<script src="~/Scripts/utility/project_details.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

