@model IList<BOD_DAL.Models.EmployeeMaster>

@{
    ViewBag.Title = "SMMEWiseEmployee";
    Layout = "~/Views/Shared/_LayoutNewTempDatatable.cshtml";
}

<div class="page-title">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-6 mb-3 mb-md-0">
            <h5 class="h3 font-weight-400 mb-0 text-white">SMME Wise Employee Project</h5>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12 col-md-6">
        <div class="card card-fluid">
            <div class="card-header">
                <h6 class="mb-0">SMME Wise Employee Project List</h6>
            </div>
            <div class="card-body">
                <!-- Chart -->
                <div class="table-responsive">
                    <table id="invoices-list" class="table table-white-space table-bordered row-grouping display no-wrap icheck table-middle">
                        <thead>
                            <tr>
                                <th><input type="checkbox" class="input-chk-all"></th>
                                <th>Employee Deatils</th>
                                <th>SMME</th>
                                <th>Contact Details</th>
                                <th>Permission</th>

                            </tr>
                        </thead>
                        <tbody>


                            @{ int i = 1; foreach (var item in Model)
                             {

                                <tr>
                                    <td><input type="checkbox" class="input-chk"></td>
                                    <td>

                                        <span class="text-bold-600">@item.EM_EmpCode</span>
                                        <p class="text-muted">@item.EM_EmpName </p>

                                    </td>
                                    <td>

                                        <span class="badge badge-primary badge-md"> @item.SM_CorporateName</span>

                                    </td>

                                    <td><p class="text-muted">@item.EM_EmpContactNo</p><p class="text-muted">@item.EM_Email</p></td>



                                    <td>
                                        <a class="btn mr-1 mb-1 btn-success btn-sm" href="UserPermission?Id=@item.UserID&type=S&SmId=@item.SM_UserId">
                                            <i class="la la-user-plus"></i>
                                            Permission
                                        </a>


                                    </td>

                                </tr>
                             }
                            }
                        </tbody>


                    </table>
                </div>

            </div>
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

