@model BOD_DAL.Models.SSME
@{
    ViewBag.Title = "SMMEProfileDetails";
    // Layout = "~/Views/Shared/_ProjectSummary.cshtml";
    Layout = "~/Views/Shared/_LayoutNewTemp.cshtml";
}
@*<section id="user-feed">
    <!-- Left Side Content -->
    <div class="row">
        <div class="col-12">
            <img src="~/Content/app-assets/images/gallery/timeline.jpg" class="img-fluid rounded" alt="timeline image">
            <div class="user-data text-center bg-white rounded pb-2 mb-md-2">
                <img src="@Model.SM_Image" class="img-fluid rounded-circle width-150 profile-image shadow-lg border border-3" alt="timeline image">
                <h4 class="mt-1 mb-0">@Model.SM_CorporateName</h4>
                <p class="m-0">@Model.SM_Email</p>
            </div>

        </div>
    </div>
    <!-- Profile Intro -->
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card shadow-none">
                <div class="card-body">
                    <h5 class="card-title">Profile Intro</h5>
                    <hr>
                    <div class="about-me mt-2">
                        <h5 class="card-title mb-1">Physical Address</h5>
                        <p class="font-small-3">@Model.SM_PostalAddress</p>
                    </div>
                    <div class="favourite-show mt-2">
                        <h5 class="card-title mb-1">Current</h5>
                        <p class="font-small-3">
                            @Model.SM_Address
                        </p>
                    </div>

                    <div class="favourite-food mt-2">
                        <h5 class="card-title mb-1">ZipCode</h5>
                        <p class="font-small-3">@Model.SM_Zipcode</p>
                    </div>
                    <div class="favourite-band mt-2">
                        <h5 class="card-title mb-1">Ph No</h5>
                        <p class="font-small-3">
                            @Model.SM_PhoneNo
                        </p>
                    </div>
                    <div class="favourite-band mt-2">
                        <h5 class="card-title mb-1">Registation No</h5>
                        <p class="font-small-3">
                            @Model.SM_CIPC_RegistrationNo
                        </p>
                    </div>
                  
                </div>
            </div>
            <!-- friends-list -->


        </div>
        <!-- Feed Section -->
        <div class="col-lg-6 col-md-6 col-sm-12">

            <!-- User Post 1 -->
            @foreach (var a in Model.project)
            { <div class="card shadow-none">
                <div class="catd-body">
                    <div class="row p-2">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-lg-1 col-7 p-0">
                                </div>
                                <div class="col-lg-11 col-7 p-0">
                                    <h5 class="m-0"><strong>@a.PE_ProjectName</strong></h5>
                                    <br />
                                    <p>Start Date : @a.PE_StartDate </p>
                                    <p>End Date : @a.PE_EndDate</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <i class="ft-more-vertical pull-right"></i>
                        </div>
                    </div>
                    <div class="write-post">
                        <div class="col-sm-12 px-2">
                            <p>
                                @a.PE_Description
                            </p>
                        </div>
                        <hr class="m-0">
                        <div class="row p-1">
                            <div class="col-6">
                                <div class="row">

                                    <div class="col-8 pl-0">
                                        <ul class="list-unstyled users-list m-0">
                                            <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="John Doe" class="avatar avatar-sm pull-up">
                                                <img class="media-object rounded-circle" src="~/Content/app-assets/images/portrait/small/avatar-s-19.png" alt="Avatar">
                                            </li>
                                            <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Katherine Nichols" class="avatar avatar-sm pull-up">
                                                <img class="media-object rounded-circle" src="~/Content/app-assets/images/portrait/small/avatar-s-18.png" alt="Avatar">
                                            </li>
                                            <li data-toggle="tooltip" data-popup="tooltip-custom" data-original-title="Joseph Weaver" class="avatar avatar-sm pull-up">
                                                <img class="media-object rounded-circle" src="~/Content/app-assets/images/portrait/small/avatar-s-17.png" alt="Avatar">
                                            </li>
                                            <li class="avatar avatar-sm">
                                                <span class="badge badge-info">+4 more</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="pull-right">
                                    <span class="pr-1"><i class="ft-message-square h4 align-middle"></i> @a.TaskCount</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>}


        </div>
        <!-- Birthday Card -->
        <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="heading-elements">
                <a href="AsessmentQuestionView?Id=@ViewBag.Id&name=SM" class="btn mr-1 mb-1 btn-success btn-sm" style="width:100%">
                    <i class="la la-desktop"></i>
                    View Assesment Question Answer
                </a>
            </div>
            <div class="card text-white bg-primary mb-3">
                <div class="card-body">
                    <i class="ft-award white float-right font-medium-5"></i>
                    <img src="~/Content/app-assets/images/portrait/small/avatar-s-4.png" alt="" class="img-fluid rounded-circle width-50 mb-50">
                    <p class="mb-25">Today is</p>
                    <h3 class="white">Marina Valentine’s Birthday!</h3>
                    <p class="card-text">Some quick example text to build on the card.</p>
                </div>
            </div>
            <div class="card shadow-none mt-2">
                <div class="card-body">
                    <div class="last-blog">
                        <h5 class="card-title mb-1">Task</h5>
                        <hr>
                        <div class="row">
                            @foreach(var b in Model.projecttask)
                            {<div class="col-sm-12">
                                <h4>@b.PWT_TaskTitle</h4>
                                <p class="mt-1">
                                    @b.PWT_Description
                                </p>
                            
                                <hr>
                            </div>
                            }
                            
                            
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>*@












    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <!-- Page title + Go Back button -->
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">SMME profile</h5>
                </div>
                <!-- Additional info -->
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
                @*<div class="actions actions-dark d-inline-block">
                    <a href="#" class="action-item ml-md-4">
                        <i class="far fa-file-export mr-2"></i>Export
                    </a>
                    <a href="#" class="action-item ml-3">
                        <i class="far fa-cog mr-2"></i>Settings
                    </a>
                </div>*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <!-- Profile stats -->
            <div class="card card-fluid">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <!-- Avatar -->
                            @if (@Model.SM_Image == "")
                            {
                                <img alt="Image placeholder" src="~/Content/app-assets/images/elements/no-image-icon.png" class="avatar  rounded-circle">

                            }
                            else
                            {
                                <img alt="Image placeholder" src="@Model.SM_Image" class="avatar  rounded-circle">

                            }
                         
                        </div>
                        <div class="col ml-md-n2">
                            <a href="#!" class="d-block h6 mb-0">@Model.SM_CorporateName</a>
                            <small class="d-block text-muted">@Model.SM_Email</small>
                        </div>
                        <div class="col-auto">
                            <a  href="SSME?Id=@Model.SM_Id" class="btn btn-xs btn-primary btn-icon rounded-pill">
                                <span class="btn-inner--icon"><i class="far fa-edit"></i></span>
                                <span class="btn-inner--text">Edit</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 text-center">
                            <span class="h5 mb-0">86</span>
                            <span class="d-block text-sm">Images</span>
                        </div>
                        <div class="col-4 text-center">
                            <span class="h5 mb-0">8</span>
                            <span class="d-block text-sm">Products</span>
                        </div>
                        <div class="col-4 text-center">
                            <span class="h5 mb-0">1578</span>
                            <span class="d-block text-sm">Followers</span>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <button type="button" class="btn btn-sm px-0 font-weight-bold btn-link text-primary btn-icon">
                                Message
                            </button>
                        </div>
                        <div class="col-6 text-right">
                            <button type="button" class="btn btn-xs btn-secondary rounded-pill">Follow</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Profile contacts -->
            <div class="card card-fluid">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-sm mb-0">
                                <i class="fab fa-phone mr-2"></i>Phone No
                            </h6>
                        </div>
                        <div class="col-auto">
                            <span class="text-sm">@Model.SM_PhoneNo</span>
                        </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-sm mb-0">
                                <i class="fab fa-whatsapp mr-2"></i>Email
                            </h6>
                        </div>
                        <div class="col-auto">
                            <span class="text-sm">@Model.SM_Email</span>
                        </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-sm mb-0">
                                <i class="fab fa-instagram mr-2"></i>Zip Code
                            </h6>
                        </div>
                        <div class="col-auto">
                            <span class="text-sm">@Model.SM_Zipcode</span>
                        </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-sm mb-0">
                                <i class="fab fa-linkedin mr-2"></i>Contact Person
                            </h6>
                        </div>
                        <div class="col-auto">
                            <span class="text-sm">@Model.SM_ContactPersonName</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Profile performance -->
            <div class="card card-fluid">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-sm mb-0">Performance</h6>
                            <span class="text-nowrap h6 text-muted text-sm">65%</span>
                            <span class="badge badge-xs badge-soft-warning ml-2"><i class="far fa-arrow-down"></i> 13%</span>
                        </div>
                        <div class="col-4">
                            <div style="max-width: 100px;">
                                <div class="spark-chart" data-toggle="spark-chart" data-type="line" data-height="30" data-color="warning" data-dataset="[47, 94, 24, 18, 26, 65, 31, 47, 10, 44, 45]"></div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-sm mb-0">Sales</h6>
                            <span class="text-nowrap h6 text-muted text-sm">$3.068,90</span>
                            <span class="badge badge-xs badge-soft-success ml-2"><i class="far fa-arrow-up"></i> 25%</span>
                        </div>
                        <div class="col-4">
                            <div style="max-width: 100px;">
                                <div class="spark-chart" data-toggle="spark-chart" data-type="line" data-height="30" data-color="success" data-dataset="[47, 94, 24, 18, 26, 65, 31, 47, 10, 44, 45]"></div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-3">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-sm mb-0">Followers</h6>
                            <span class="text-nowrap h6 text-muted text-sm">80</span>
                            <span class="badge badge-xs badge-soft-info ml-2"><i class="far fa-arrow-up"></i> 17%</span>
                        </div>
                        <div class="col-4">
                            <div style="max-width: 100px;">
                                <div class="spark-chart" data-toggle="spark-chart" data-type="bar" data-height="30" data-color="primary" data-dataset="[47, 94, 24, 18, 26, 65, 31, 47, 10, 44, 45]"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4 col-md-6">
            <div class="card card-fluid">
                <div class="card-header">
                    <h6 class="mb-0">Worked hours</h6>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div id="apex-worked-hours" data-color="primary" data-height="280"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-md-6">
            <div class="card card-fluid">
                <div class="card-header border-0">
                    <h6 class="mb-0">Associated Projects</h6>
                </div>

                <div class="table-responsive">

                    <table class="table align-items-center">
                        <thead>
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Project</th>
                                <th scope="col" class="sort" data-sort="budget">Tasks</th>
                                <th scope="col" class="sort" data-sort="status">Status</th>
                             
                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (var a in Model.project)
                            {
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div>
                                                <img alt="Image placeholder" src="../../assets/img/theme/light/brand-avatar-1.png" class="avatar  rounded-circle avatar-sm">
                                            </div>
                                            <div class="media-body ml-4">
                                                <a class="name mb-0 h6 text-sm" href="/Project/ProjectSummary?Id=@a.PE_Id">@a.PE_ProjectName</a>
                                                @*<br />
                                                    <p>Start Date : @a.PE_StartDate </p>
                                                    <p>End Date : @a.PE_EndDate</p>*@
                                            </div>
                                        </div>
                                    </th>
                                    <td class="budget">
                                        @a.TaskCount
                                    </td>
                                    <td>
                                        <span class="badge badge-dot mr-4">
                                            <i class="bg-warning"></i>
                                            <span class="status">pending</span>
                                        </span>
                                    </td>
                                   
                                </tr>
                            }


                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <!-- Profile storage -->
            <div class="card card-fluid">
                <div class="card-header">
                    <h6 class="mb-0">Cloud storage</h6>
                </div>
                <div class="card-body">
                    <div class="progress-circle progress-lg mx-auto" id="progress-circle-1" data-progress="35" data-text="35%" data-color="warning" style="position: relative;"><svg viewBox="0 0 100 100" style="display: block;"><path d="M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93" stroke="#eee" stroke-width="2" fill-opacity="0"></path><path d="M 50,50 m 0,-46.5 a 46.5,46.5 0 1 1 0,93 a 46.5,46.5 0 1 1 0,-93" stroke="#ffab00" stroke-width="7" fill-opacity="0" style="stroke-dasharray: 292.273, 292.273; stroke-dashoffset: 189.978;"></path></svg><div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(255, 171, 0);">35%</div></div>
                    <div class="d-flex my-4 px-5">
                        <div class="col">
                            <span class="badge badge-dot badge-lg h6">
                                <i class="bg-success"></i>4TB
                            </span>
                            <small class="d-block text-muted">Total storage</small>
                        </div>
                        <div class="col">
                            <span class="badge badge-dot badge-lg h6">
                                <i class="bg-warning"></i>875GB
                            </span>
                            <small class="d-block text-muted">Used storage</small>
                        </div>
                    </div>
                    <a href="#" class="btn btn-block btn-secondary">Upgrade storage</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-fluid">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h6 class="mb-0">Recent files</h6>
                        </div>
                        <div class="text-right">
                            <div class="actions">
                                <a href="#" class="action-item"><i class="far fa-sync"></i></a>
                                <div class="dropdown action-item" data-toggle="dropdown">
                                    <a href="#" class="action-item"><i class="far fa-ellipsis-h"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item">Refresh</a>
                                        <a href="#" class="dropdown-item">Manage Widgets</a>
                                        <a href="#" class="dropdown-item">Settings</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-wrapper p-3">
                    <!-- Files -->
                    <div class="card mb-3 border shadow-none">
                        <div class="px-3 py-3">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <img alt="Image placeholder" src="../../assets/img/icons/files/pdf.png" class="img-fluid" style="width: 40px;">
                                </div>
                                <div class="col ml-n2">
                                    <h6 class="text-sm mb-0">
                                        <a href="#!">design-principles.pdf</a>
                                    </h6>
                                    <p class="card-text small text-muted">
                                        189 KB
                                    </p>
                                </div>
                                <div class="col-auto actions">
                                    <div class="dropdown" data-toggle="dropdown">
                                        <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="far fa-ellipsis-h"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item">Refresh</a>
                                            <a href="#" class="dropdown-item">Manage Widgets</a>
                                            <a href="#" class="dropdown-item">Settings</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 border shadow-none">
                        <div class="px-3 py-3">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <img alt="Image placeholder" src="../../assets/img/icons/files/psd.png" class="img-fluid" style="width: 40px;">
                                </div>
                                <div class="col ml-n2">
                                    <h6 class="text-sm mb-0">
                                        <a href="#!">website-wireframe.psd</a>
                                    </h6>
                                    <p class="card-text small text-muted">
                                        45.9 MB
                                    </p>
                                </div>
                                <div class="col-auto actions">
                                    <div class="dropdown" data-toggle="dropdown">
                                        <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="far fa-ellipsis-h"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item">Refresh</a>
                                            <a href="#" class="dropdown-item">Manage Widgets</a>
                                            <a href="#" class="dropdown-item">Settings</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 border shadow-none">
                        <div class="px-3 py-3">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <img alt="Image placeholder" src="../../assets/img/icons/files/doc.png" class="img-fluid" style="width: 40px;">
                                </div>
                                <div class="col ml-n2">
                                    <h6 class="text-sm mb-0">
                                        <a href="#!">product-guidelines.doc</a>
                                    </h6>
                                    <p class="card-text small text-muted">
                                        87 KB
                                    </p>
                                </div>
                                <div class="col-auto actions">
                                    <div class="dropdown" data-toggle="dropdown">
                                        <a href="#" class="action-item" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="far fa-ellipsis-h"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item">Refresh</a>
                                            <a href="#" class="dropdown-item">Manage Widgets</a>
                                            <a href="#" class="dropdown-item">Settings</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Project status -->
            <div class="card card-fluid">
                <div class="card-header">
                    <h6 class="mb-0">Project status</h6>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-9">
                            <div class="progress-wrapper">
                                <span class="progress-label text-muted text-sm">Logo design</span>
                                <div class="progress mt-1 mb-2" style="height: 5px;">
                                    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 align-self-end text-right">
                            <span class="h6 mb-0">40%</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-9">
                            <div class="progress-wrapper">
                                <span class="progress-label text-muted text-sm">Website mockup</span>
                                <div class="progress mt-1 mb-2" style="height: 5px;">
                                    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width: 67%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 align-self-end text-right">
                            <span class="h6 mb-0">67%</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-9">
                            <div class="progress-wrapper">
                                <span class="progress-label text-muted text-sm">Landing page</span>
                                <div class="progress mt-1 mb-2" style="height: 5px;">
                                    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width: 89%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 align-self-end text-right">
                            <span class="h6 mb-0">89%</span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-9">
                            <div class="progress-wrapper">
                                <span class="progress-label text-muted text-sm">Mobile testing</span>
                                <div class="progress mt-1 mb-2" style="height: 5px;">
                                    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 align-self-end text-right">
                            <span class="h6 mb-0">55%</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            <div class="progress-wrapper">
                                <span class="progress-label text-muted text-sm">Theme launch</span>
                                <div class="progress mt-1 mb-2" style="height: 5px;">
                                    <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 align-self-end text-right">
                            <span class="h6 mb-0">99%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



