@model BOD_DAL.Models.CorporateDashboard
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutNewTemp.cshtml";
}
@{
    string TotalIncomeCurrentYear = string.Format("{0:#,0.####}", Model.IncomeCurrentYear);
    string TotalExpensesCurrentYear = string.Format("{0:#,0.####}", Model.ExpenseCurrentYear);
    string Role;
    string name = "";

    int? totalJobs = Model.TaskYearly;
    int? completedJobs = Model.TaskCompletedYearly;
    int? taskNotCompleted = Model.TaskNotCompleted;
    int? OpenJobs = Model.TaskOpenYearly;
    int compledPercentage = 0;
    int openPercentage = 0;
    int notPercentage = 0;

    if (totalJobs > 0)
    {
        compledPercentage = ((Convert.ToInt32(completedJobs) / Convert.ToInt32(totalJobs)) * 100);
    }

    if (totalJobs > 0)
    {
        openPercentage = ((Convert.ToInt32(OpenJobs) / Convert.ToInt32(totalJobs)) * 100);
    }



    string logo = "/Content/app-assets/images/elements/no-image-icon.png";
    BOD_DAL.Models.UserModel UserObj;
    BOD_DAL.Models.UserModel UserObjA;
    UserObjA = Session["UserDataModel"] as BOD_DAL.Models.UserModel;
    UserObj = UserObjA;
    if (UserObjA == null)
    {
        BOD_DAL.Models.UserModel UserObjC;
        BOD_DAL.Models.UserModel UserObjE;
        UserObjC = Session["CUserDataModel"] as BOD_DAL.Models.UserModel;
        UserObjE = Session["EUserDataModel"] as BOD_DAL.Models.UserModel;


        if ((UserObjC == null) && (UserObjE == null))
        {
            BOD_DAL.Models.UserModel UserObjSM;
            UserObjSM = Session["SMUserDataModel"] as BOD_DAL.Models.UserModel;
            UserObj = UserObjSM;
            UserObj.Role = "SM";
            logo = UserObjSM.Logo;
            name = UserObjSM.UserName;
        }
        else if (UserObjE != null)
        {
            UserObj = UserObjE;
            UserObj.Role = "E";
            logo = UserObjE.Logo;
            name = UserObjE.UserName;
        }
        else
        {
            UserObj = UserObjC;
            UserObj.Role = "C";
            logo = UserObjC.Logo;
            name = UserObjC.UserName;
        }


    }

    var SessionModule = Session["AuthorisedModuleModel"] as IList<BOD_DAL.Models.AuthorisedModule>;
    var SessionComapny = Session["CompanyModel"];
}


<div class="page-content">
    <!-- Page title -->
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 mb-3 mb-md-0">
                <h5 class="h3 font-weight-400 mb-0 text-white"></h5>
                <span class="text-sm text-white opacity-8"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-md-6">
            <div class="card card-fluid">
                <div class="card-header">
                    <h6 class="mb-0">Engagement</h6>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div id="apex-engagement" data-color="primary" data-height="280"></div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6">
            <div class="card card-fluid">
                <div class="card-body text-center d-flex flex-column justify-content-center">
                    <h5 class="mb-4">Total Employees</h5>
                    <div class="progress-circle progress-lg mx-auto" id="progress-5" data-progress="70" data-text="@Model.TotalEmployee" data-textclass="h1" data-color="warning"></div>
                    <div class="d-flex mt-4">
                        <div class="col">
                            <span class="d-block badge badge-dot badge-lg h6">
                                <i class="bg-danger"></i>@(Convert.ToInt32(Model.TotalEmployee * 0.7)) trained
                            </span>
                        </div>
                        <div class="col">
                            <span class="d-block badge badge-dot badge-lg h6">
                                <i class="bg-warning"></i>@(Convert.ToInt32(Model.TotalEmployee * 0.3)) untrained
                            </span>
                        </div>
                    </div>
                    <a href="#" class="btn btn-block btn-secondary mt-auto">Open insights</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row flex-sm-auto">
        <div class="col-lg-4 col-sm-6">
            <div class="card card-fluid">
                <div class="card-body">
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <i class="fa fa-3x fa-tasks"></i>
                        </div>
                        <div class="col">
                            <a href="#!" class="d-block h6 mb-0">@totalJobs tasks craated</a>
                            <a href="#" class="text-sm text-muted">Purpose Website UI</a>
                        </div>
                    </div>
                    <div class="row align-items-center mb-4">
                        <div class="col-auto">
                            <i class="fa fa-3x fa-th-list"></i>
                        </div>
                        <div class="col">
                            <a href="#!" class="d-block h6 mb-0">@compledPercentage tasks completed</a>
                            <a href="#" class="text-sm text-muted">Webpixels website</a>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="fa fa-3x fa-folder-open"></i>
                        </div>
                        <div class="col">
                            <a href="#!" class="d-block h6 mb-0">@openPercentage tasks open</a>
                            <a href="#" class="text-sm text-muted">Purpose Dashboard UI</a>
                        </div>
                    </div>
                    <a href="#" class="btn btn-sm btn-block btn-secondary mt-5">Open insights</a>
                </div>
            </div>
        </div>

        <div class="col-xl-8 col-md-6">
            <div class="card card-fluid">
                <div class="card-header border-0">
                    <h6 class="mb-0">My projects</h6>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center">
                        <thead>
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Project</th>
                                <th scope="col" class="sort" data-sort="budget">Tasks</th>
                                <th scope="col" class="sort" data-sort="status">Status</th>

                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (var a in Model.projectList)
                            {
                                <tr>
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <div>
                                                <img alt="Image placeholder" src="@a.PE_Image" class="avatar  rounded-circle avatar-sm">
                                            </div>
                                            <div class="media-body ml-4">
                                                <a href="" class="name mb-0 h6 text-sm">@a.PE_ProjectName</a>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="budget">
                                        @a.TaskCount
                                    </td>
                                    <td>
                                        <span class="badge badge-dot mr-4">
                                            <i class="bg-warning"></i>
                                            <span class="status">pending</span>
                                        </span>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-xl-7 d-sm-flex flex-sm-column">
            <a href="#">View All</a>
            <div class="row flex-sm-auto">
                @foreach (var a in Model.smmList)
                {
                    <div class="col-sm-4">
                        <div class="card card-fluid">
                            <div class="card-body text-center">
                                <div class="avatar-parent-child">
                                    <a href="#" class="avatar avatar-lg rounded-circle">
                                        <img alt="Image placeholder" src="@a.SM_Image">
                                    </a>
                                    <span class="avatar-child avatar-badge bg-success"></span>
                                </div>
                                <h5 class="h6 mt-4 mb-0">@a.SM_CorporateName</h5>
                                <a href="#" class="d-block text-sm text-muted mb-3">@a.SM_Email</a>

                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="row flex-sm-fill">

            </div>
        </div>
        <div class="col-xl-5">
            <!-- Calendar -->
            <div class="card widget-calendar">
                <div class="card-header">
                    <div class="text-sm text-muted mb-1 widget-calendar-year"></div>
                    <div class="h5 mb-0 widget-calendar-day"></div>
                </div>
                <!-- Calendar -->
                <div data-toggle="widget-calendar"></div>
            </div>
        </div>
    </div>
</div>